<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fs="http://xmlns.jcp.org/jsf/passthrough">

<h:body>
<ui:composition template="layouts/commonLayout.xhtml">
	<ui:define name="title">Add Product</ui:define>
	<ui:define name="content">
		<div align="center">
			<h:form enctype="multipart/form-data">
			<h2> Add Order </h2>
				<!-- Get order number -->
				<h:inputText value="#{order.orderNo}" id="orderNumber" fs:placeholder="Order Number" />
				<div class="error-message"><h:message for="orderNumber"/></div><br/>
				<!-- Get the product name -->
				<h:inputText value="#{order.productName}" id="orderName" fs:placeholder="Product" />
				<div class="error-message"><h:message for="orderName"/></div><br/>
				<!-- Get the purchase price -->
				<h:inputText value="#{order.price}" id="purchase-price" fs:placeholder="Price"/>
				<div class="error-message"><h:message for="purchase-price"/></div><br/>
				<!-- Get the quantity -->
				<h:inputText value="#{order.quantity}" id="quantity" fs:placeholder="Quantity"/>
				<div class="error-message"><h:message for="quantity"/></div><br/>
				
				<h:commandButton action="#{formController.addOrdertoDatabase(order)}" value="Add"  />
				<h:commandButton value="Cancel" action="#{formController.onCancel}" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</h:body>
</html>